.navbar {
  display: none;
}

@page {
  margin : 0.2cm 0.2cm 0.2cm 0.2cm;
  /*margin : 0cm 0cm 0cm 0cm;*/
} 

body {
  width: 21cm;
  height: 29.7cm;
  font-size: 16.8pt;
  line-height: 1.04;
  font-family: Times, serif;
}

img {
margin:0;
padding:0;
  display: block;
  /*position: absolute;*/
  width : 21cm;
  height : 29.7cm;
  /*top:0; left:0;*/
}

h1 {
  display: block;
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg) translate(-100%);
  font-size: 600%;
  font-weight:bold;
  margin: 0;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  text-align:right;
  top:2.7%;
  left:5.7%;
width:25cm;
}

h2 {
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  font-size:120%;
  margin: -0.3em 0 0 -0.1em;
  float:left;
  line-height:1.255;
}
a {
  color:black;
  text-decoration: none;
}


#cover {
  display: block;
  position: absolute;
  /*width:100%;*/
  top:3%;
  right:4%;
  font-size:528%;
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  transform-origin: top right;
  transform: rotate(90deg) translate(100%);;
}

.number {
  /*display: block;*/
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align:center;
}

.bottom {
  /*display: block;*/
  position: absolute;
  bottom: 4%;
  left:0;
  right:0;
  /*width:100%;*/
  text-align:center;
  font-size:120%;
  line-height:1.3;
}

.backcover {
  display: block;
  position: absolute;
  bottom: 4%;
  left:0;
  right:0;
  width:100%;
  text-align:center;
  font-weight:bold;
  font-family: Times, serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  /*font-size:1.3vw;*/
  font-size:200%;
  line-height:1.3;
}

#p3 {
  font-size:220%;
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  margin-bottom:1.45%;
}

#p7 > ul {
  margin-top:45%;
}

#p7 > ul li {
  font-size: 105%;
  line-height:1.33;
  margin-left:22%;
}

#p7 > ul li ul {
  margin:0;
  padding:0 0 0 1.7em;
}

#p7 > ul li ul li {
  margin:0;
  padding:0;
}

li{
  list-style-type: none;
}

#p7 > ul span {
  float:right;
  margin-right:3%;
  font-family: Arial, sans-serif;
  font-weight:bold;
  text-shadow: 1px 1px 0.1em black;
}

.page {
  /*position: relative;*/
}

.single,
.left,
.right {
  display: block;
  width: 21cm;
  height: 29.7cm;
  page-break-after: always;
  position: relative;
border: solid 1px white;
}

.right .texte {
  padding : 4.5% 5.5% 4.5% 7.5%;
}

.left .texte {
  padding : 4.5% 7.5% 4.5% 5.8%;
}

.texte p {
  text-align:justify;
}

.right .texte p {
  margin: 0 0 0 25%;
  word-spacing:-0.06em;
  /*padding : 0% 6% 0% 3.9%;*/
}

.left .texte p {
  margin: 0 25% 0 0;
  word-spacing:-0.06em;
  /*padding : 0% 3.9% 0% 6%;*/
}

.left .notes,
.right .notes {
  display: block;
  position: absolute;
width:22cm;
/*border:solid 1px blue;*/
  bottom:4.8%;
font-size:83.35%;
}

.texte p + p {
  text-indent: 1.1em;
}

.texte sup {  
  line-height:0;
  font-size: 72%;
  font-family: arial, sans-serif;
}

.left .notes {
  right:6.3%;
  transform-origin: bottom right;
  transform: rotate(270deg) translate(100%);;
}

.right .notes {
  left:7.8%;
  transform-origin: bottom left;
  transform: rotate(270deg) translate(0,100%);;
}

.notes .note {
  padding: 0;
}

.notes .note sup {
  float:left;
}

.notes .note p {
  margin: 0 0 0 1.3em;
  padding: 0;
/*min-width:0;*/
/*max-width:auto;*/
}

.note {
  /*width:30vw;*/
}

/*
.right .references {
  padding : 4.5% 5.5% 4.5% 7.5%;
}

.left .references {
  padding : 4.5% 7.5% 4.5% 5.8%;
}

.references h3, 
.references p,
.colophon dl,
.colophon p {
  font-size:83.35%;
}

.left .references h3{
  margin-left:2.4em;
  margin-right:11.8em;
  margin-top:1em;
  margin-bottom:0;
  text-indent:-0.5em;
}
.left .references p{
  margin-top:0;
  margin-right:11.8em;
  margin-left:3.7em;
  text-indent:-1.7em;
  margin-bottom: 0.04em;
} 

.right .references h3{
clear:both;
  margin-top:1em;
  margin-bottom:0;
  margin-left:12.0em;
  margin-right:1.0em;
  text-indent:-0.5em;
}

.right .references p{
  margin-left:13.3em;
  text-indent:-1.7em;
  margin-right:1.0em;
  margin-bottom:0.04em;
  margin-top:0;
}
 
.references h2,
.colophon h2 {
  float:left;
  margin: 1em 1em 1.6em 1.6em;
}

.colophon dl {
clear:both;
  margin:1em 12em 0 2.0em; 
}
.colophon p {
  margin:1em 12em 0 2.0em; 
}
*/

/** REFERENCES + COLOPHON */

.colophon,
.references {
  line-height:1.1;
letter-spacing: -0.02em;
word-spacing: -0.03em;
}

.colophon {
  line-height: 1.14;
}
.left .colophon,
.left .references {
  /*padding : 4.5% 7.5% 4.5% 5.8%;*/
  padding : 4.5% 29.5% 4.5% 5.8%;
}
.right .references {
  /*padding : 4.5% 5.5% 4.5% 7.5%;*/
  padding : 4.5% 5.5% 4.5% 29.5%;
}

.references h3, 
.references p,
.colophon dl,
.colophon p {
  font-size:83.35%;
}

.references h3{
  margin:1.2em 0 0 0;
}

.references p{
  text-align:justify;
  text-indent:-5%;
  margin:0 0 0 5%;
  hyphens: manual;
} 
 
.references h2,
.colophon h2 {
float:none;
margin-bottom: 1.6em;
  /*margin: 1em 1em 1.6em 1.6em;*/
}

.colophon dl {
  margin:0;
}
.colophon dd {
  margin:0 0 0 5%;
}
.colophon dd + dt {
  margin-top:1em;
}

.colophon p {
  margin:0;
}

