{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


html {
  font-family: Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}


#book {
 width: 450%;
 overflow: scroll;
}

.button {
    background-color: transparent; 
    border: none;
    color: blue ;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

a {
text-decoration: none;
}




img {
  margin: 0;
  border: 0;
  padding: 0;
}


body {
  background-color: black;
  font-size: 18px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 3%;
  padding-left: 1%;
  z-index: 9999;
  width: 180px;
  height: 0px;
  background-color: white;
}  

#screen {
  height:100%;
  width:100%;
}

  #arrow {
    display: none;
  }

.page {
position:relative;
  display: block;
  /*background-color:#ffffff;*/ 
  background-color:black; 
  float: left;
  padding: 0%;
  /*border-style: solid;
  border-width: 1px;*/

  line-height: 0;
  width:22%;
}

.single,
.double {
  position:relative;
  border:solid 1px black;
  margin-top: 1%;
}

.single {
  width:36%;
  margin-left: 32%;
  margin-right: 32%;
}

.double {
  width:72%;
  margin-left: 14%;
  margin-right: 14%;
}

.double img {
  width:50%;
}

.link {
  display: block;
  position: absolute;
margin:0;
padding:0;
border:solid 1px blue;
}

/*
#hidden1 {
  display: block; 
  float: left;
  width: 3%;
  margin-left: 7%;
  margin-top: 1%;
  color: white;
  font-size: 3%;
}

#hidden2 {
  display: block; 
  float: left;
  width: 3%;
  margin-left: 7%;
  margin-top: 1%;
}

#hidden3 {
  display: block; 
  float: left;
  width: 3%;
  margin-left: 7%;
  margin-top: 1%;
}

#hidden4 {
  display: block; 
  float: left;
  width: 8%;
  margin-left: 0%;
  margin-top: 1%;
}

#hidden5 {
  display: block; 
  float: left;
  width: 10%;
  margin-left: 0%;
  margin-top: 1%;
}

#hidden6 {
  display: block; 
  float: left;
  width: 10%;
  margin-left: 0%;
  margin-top: 1%;
}

#hidden7 {
  display: block; 
  float: left;
  width: 10%;
  margin-left: 0%;
  margin-top: 1%;
}
*/

@media (max-width: 720px){
  #zigzag {
    display: none;
  }

  #arrow {
    display: block;
  }

  #book {
    width: 100%;
  }

  .page {
    width:100%;
  }

  .single {
    margin: 2% 25% 0% 25%;
    width:50%;
  }

  .double {
    margin: 2% 0% 0% 0%;
    width:100%;
  }
  
}
