{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}


#book {
 width: 400vw;
 overflow: scroll;
}

.button {
    background-color: transparent; 
    border: none;
    color: blue ;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.texteblue {
    color: blue ;
    font-size: 12px;
    font-family: arial, sans-serif;
    text-align: left;
    max-width:100px;
}

a {
text-decoration: none;
}




body {
  background-color: black;
  font-size: 1.05vw;
  line-height: 1.04;
  font-family: Times, serif;
  text-align:justify;
  color:black;
}

.texte sup {  
  line-height:0;
  font-size: 72%;
  color: blue;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 3%;
  padding-left: 1%;
  z-index: 9999;
  width: 180px;
  height: 0px;
  background-color: white;
} 

.navbar a {
  color:blue;
  font-size: 18px;
  font-family: Arial, sans-serif;
} 

#screen {
  height:100%;
  width:100%;
}

#zigzag {
  /*display:block;
  position: fixed;
  top: 35%;
  padding-left: 0%;
  z-index: 9999;*/
  width: 180px;
  height: 0px;
}

#zigzag .image{
  display: block;
}

.direction {
    color: blue ;
    font-size: 12px;
    font-family: arial, sans-serif;
    text-align: left;
    max-width:100px;
}

#zigzag .direction {
  display: none;  
  opacity:0;
}

    #zigzag:hover .image {
      opacity:0;
    }
    #zigzag:hover .direction {
      display:block; 
      opacity:1;
    }

  #arrow {
    display: none;
  }

   #comment2 {
    display: none;
  }

.page {
position:relative;
  display: block;
  /*background-color:#ffffff;*/ 
  /*background-color:grey; */
  float: left;
  margin: 0 0 3vw 0;
  padding: 0;
  /*border: solid 1px red;*/

  /*line-height: 0;*/
  width:100vw;
  height:calc(36vw*29.7/21);
}

.page img {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align:bottom;
  width:100%;
  height:100%;
position:absolute;top:0;left:0;
}


.single,
.double {
  position:absolute;
  display: block;
top: 0;
left: 0;
  border:solid 1.5px black;
padding:0;
  /*margin-top: 1vw;*/
  /*margin-bottom: 1vw;*/
}

.single {
  /*width:36%;*/
  /*margin-left: 32%;*/
  /*margin-right: 32%;*/
  width:calc(36vw);
  height:calc(36vw*29.7/21);
  margin-left: 32vw;
  margin-right: 32vw;
/*background-size:100%;*/
background-color: white;
}

.double {
  /*width:72%;*/
  /*margin-left: 14%;*/
  /*margin-right: 14%;*/
  width:calc(36vw*2);
  height:calc(36vw*29.7/21);
  margin-left: 14vw;
  margin-right: 14vw;
background-color: white;
}

/*
.double img {
  width:50%;
}
*/

/*
.single img,
.left img,
.right img {
  width:100%;
}
*/

.link {
  display: block;
  position: absolute;
margin:0;
padding:0;
border:solid 1px blue;
}

.page a {
color: black;
text-decoration: none; 
border-bottom: 2px solid blue; 
color: #000000;"
}

#cover a{
color: blue;
text-decoration: none;
border-bottom: 0px solid blue;
}

#cover a:hover{
text-decoration: none;
}

.backcover a{
color: blue;
text-decoration: none;
border-bottom: 0px solid blue;
}

.backcover a:hover{
text-decoration: none;
}


/*.page a:hover {
text-decoration: underline;
}*/

#cover {
  display: block;
  position: absolute;
  /*width:100%;*/
  top:3%;
  right:3%;
  /*font-size:5.5vw;*/
  font-size:528%;
  font-weight:bold;
  font-family: Times, serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  transform-origin: top right;
  transform: rotate(90deg) translate(100%);;
}

.number {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align:center;
  z-index: 1;
}

.bottom {
  display: block;
  position: absolute;
  bottom: 4%;
  left:0;
  right:0;
  /*width:100%;*/
  text-align:center;
  font-size:120%;
  line-height:1.3;
}

.backcover {
  display: block;
  position: absolute;
  bottom: 4%;
  left:0;
  right:0;
  width:100%;
  text-align:center;
  font-weight:bold;
  font-family: Times, serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  /*font-size:1.3vw;*/
  font-size:200%;
  line-height:1.3;
}

#p3 {
  /*font-size:2.8vw;*/
  font-size:220%;
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  margin-bottom:1.45%;
}

#p7 > ul {
  padding:0;
  margin-top:45%;
}

#p7 > ul li {
  /*font-size: 1.1vw;*/
  font-size: 105%;
  line-height:1.33;
  margin-left:27%;
}

#p7 > ul li ul {
  margin:0;
  padding:0 0 0 1.7em;
}

#p7 > ul li ul li {
  margin:0;
  padding:0;
}

li{
  list-style-type: none;
}

#p7 > ul span {
  float:right;
  margin-right:3%;
  font-family: Arial, sans-serif;
  font-weight:bold;
  text-shadow: 1px 1px 0.1em black;
}

.left {
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  background-size:100%;
}

.right{
  display: block;
  position: absolute;
  top: 0%;
  left:50%;
  width:50%;
  height:100%;
  background-size:100%;
}

.left:after,
.right:after {
  position:absolute;
  top:0;
  height:100%;
  content:'';
}

.left:after {
  right:0;
  width:20%;
  background: linear-gradient(270deg, rgba(0,0,0,0.4), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.05) 50%, transparent);
}
.right:after {
  left:0;
  width:20%;
  background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.05) 50%, transparent);
}

.right .texte {
  padding : 4.5% 5.5% 4.5% 7.5%;
}

.left .texte {
  padding : 4.5% 7.5% 4.5% 5.8%;
}

.left .notes,
.right .notes {
  display: none;
}

/*
.left .notes,
.right .notes {
  display: block;
  position: absolute;
width:39vw;
border:solid 1px blue;
  bottom:2.4vw;
font-size:83.35%;
}

.left .notes {
  right:2.1vw;
  transform-origin: bottom right;
  transform: rotate(270deg) translate(100%);;
}

.right .notes {
  left:2.6vw;
  transform-origin: bottom left;
  transform: rotate(270deg) translate(0,100%);;
}

*/

.tpd-tooltip {
margin:0 !important;
padding:0 !important;
box-shadow: rgba(0,0,0,0.5) 0 0 10px;
background-color: white !important;
}

.tpd-skin {
/*display:none;*/
}

.tpd-skin-dark a {
  color: black;
}

.tpd-background {
/*margin:0 !important;*/
/*padding:0 !important;*/
border-radius: 0 !important;
background-color: white !important;
}

.tpd-content {
color: black !important;
  /*margin: 0 !important;*/
  /*padding: 0 !important;*/
/*padding-top:0px !important;*/
}

.tpd-content-spacer
/*.tpd-content-wrapper*/
/*.tpd-content-relative,*/
/*.tpd-content-relative-padder*/ {
  margin: 1px !important;
/*  margin: 0 12px 12px 12px !important;*/
/*  padding: 0 !important;*/
}

.tpd-content-spacer {
}

.tpd-stem {
  display: none;
}

.ui-tooltip-content .note,
.tooltipster-content .note {
  /*padding:1em;*/
  width: 100%;
}

.tpd-tooltip .note sup,
.ui-tooltip-content .note sup,
.tooltipster-content .note sup {
  display: none;
}

.tpd-tooltip .note p,
.ui-tooltip-content .note p,
.tooltipster-content .note p {
  margin: 0;
  padding: 0;
/*min-width:50vw;*/
/*max-width:10vw;*/
  font-size:1vw !important;
}

.notes .note {
  padding: 0;
}

.notes .note sup {
  float:left;
}

.notes .note p {
  margin: 0 0 0 1.3em;
  padding: 0;
/*min-width:0;*/
/*max-width:auto;*/
}

.note {
  /*width:30vw;*/
}

h1 {
  display: block;
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg) translate(-100%);
  /*font-size: 6.682vw;*/
  font-size: 600%;
  line-height:1;
  font-weight:bold;
  margin: 0;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  text-align:right;
  top:2.7%;
  left:5.7%;
  width: 200%;
}

h2 {
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  /*font-size:1.3vw;*/
  font-size:120%;
  margin: -0.3em 0 0 -0.1em;
  float:left;
  line-height:1.255;
}

.h2b {
  letter-spacing:-0.02em;
}

/*h3 {
  font-weight:bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0.1em rgba(0,0,0,0.5);
  font-size:120%;
  margin: 1em 1em 1em 1.6em;
  float:left;
  line-height:1.255;
}
*/

/** REFERENCES + COLOPHON */

.colophon,
.references {
  line-height:1.1;
letter-spacing: -0.02em;
word-spacing: -0.03em;
}

.colophon {
  line-height: 1.14;
}
.colophon,
.left .references {
  /*padding : 4.5% 7.5% 4.5% 5.8%;*/
  padding : 4.5% 29.5% 4.5% 5.8%;
}
.right .references {
  /*padding : 4.5% 5.5% 4.5% 7.5%;*/
  padding : 4.5% 5.5% 4.5% 29.5%;
}

.references h3, 
.references p,
.colophon dl,
.colophon p {
  font-size:83.35%;
}

.references h3{
  margin:1.2em 0 0 0;
}

.references p{
  text-align: justify;
  text-indent:-5%;
  margin:0 0 0 5%;
  hyphens: manual;
} 

.references h2,
.colophon h2 {
float:none;
margin-bottom: 1.6em;
  /*margin: 1em 1em 1.6em 1.6em;*/
}

.colophon dl {
  margin:0;
}
.colophon dd {
  margin:0 0 0 5%;
}
.colophon dd + dt {
  margin-top:1em;
}

.colophon p {
  margin:0;
}

.right .texte p {
  margin: 0 0 0 25%;
  word-spacing:-0.1em;
  /*padding : 0% 6% 0% 3.9%;*/
}

.left .texte p {
  margin: 0 25% 0 0;
  word-spacing:-0.1em;
  /*padding : 0% 3.9% 0% 6%;*/
}

.texte p + p {
  text-indent: 1.1em;
}

.right .texte2 p {
  /*margin: 1em 1em 1em 1.6em;*/
  position:relative;
  margin: 0 0 0 25%;
  word-spacing:-0.1em;
  /*padding : 0% 6% 0% 3.9%;*/
}

.left .texte2 p {
  margin: 0 25% 0 0;
  word-spacing:-0.1em;
  /*padding : 0% 3.9% 0% 6%;*/
}

.texte2 p + p {
  text-indent: -1.1em;
}

@media (max-width: 720px){
body {
font-size: 1.4vw;
}

  #comment1 {
    display: none;
  }

  #comment2 {
    display: block;
  }

  #zigzag {
    display: none;
  }

  #arrow {
    display: block;
  }

  #book {
    width: 100%;
  }

  .page {
    margin: 0 0 1vw 0;
    width:100vw;
    height:calc(50vw/21*29.7);
  }

  .single {
    margin: 0 25vw 1vw 25vw;
    width:50vw;
    height:calc(50vw/21*29.7);
  }

  .double {
    margin: 0 0 1vw 0;
    width:100vw;
    height:calc(50vw/21*29.7);
  }
  
}

.tooltipster-base {
  border-radius: 0;
}
