{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}






html {
  font-family: Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transformarent;
}

a:active,
a:hover {
  outline: 0;
}

p {
  font-family: Helvetica, sans-serif;
  display: block;
  position: relative;
  float: left;
  margin-left: 0%;
  margin-right: 5%;
  max-width: 400px;
}

.p1{
  width: 250px;
  margin-left: 5%;
}

.p2{
  width: 350px;
}

.p3{
  margin-left: 2%;
}

img {
  border: 0;
}


body {
  background-color: #ffffff;

  font-size: 18px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

#header {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 2.5641%;
  margin-top: 1em;
  margin-bottom: 2em;
}
#header:after {
  display: block;
  clear: both;
}



#hname {
  display: block;
  position: relative;
  float: left;
  font-size: 1 em;
  margin-left: 0%;
  color: rgb(0,0,0);
}

#htitle {
  display: block;
  position: relative;
  width: 100%;
  font-size: 7em;
  text-align: center;
  margin-left: 40%;
}

span.stretch {
    display:inline-block;
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1,2); /* W3C */
}

#subtitle{
  display: block;
  position: relative;
  width:100%;
  font-size: 1.7em;
  margin-left: 58%;
  margin-top: 4%;
  line-height: 1;
}

#subtitle2 {
  display: block;
  position: relative;
  clear: both;
  font-size: 2em;
  margin-left: 5%;
  padding-top: 10px;
  width:100%;
  line-height: 1em;
}


