{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


html {
  font-family: Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}





img {
  border: 0;
}


body {
  background-color: black;
  font-size: 18px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

#screen {
  height:100%;
  width:100%;
}


.header {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 8%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page1 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 10%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page2 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page3 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 10%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page4 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page5 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 10%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page6 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 18px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page7 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 8%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page8 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page9 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 10%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page10 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page11 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 10%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

.page12 {
  display: block;
  background-color:#ffffff; 
  float: left;
  width: 400px;
  height: 600px; 
  margin-left: 0%;
  margin-top: 72px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}






#page {
  display: block;
  position: absolute;
  float: left;
  margin-left: -1.5%;
  margin-top: -20px;
}




#quotehidden{
  display: block;
  position: relative;
  margin-left: -50%;
  margin-top: -10%;
}

#quote{
  display: block;
  position: relative;
  width:40%;
  font-size: 12px;
  margin-left: 25%;
  margin-top: 15%;
  line-height: 1;
}


span.stretch {
    display:inline-block;
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1,2); /* W3C */
}





